body {
    margin: 0;
    padding: 0;
    background-color: #373944;
    color: #ffffff
}

.headerStyle {
    background-color: #0b112c;
    padding: 1em 2em;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: envycoder nerd font;
    color: #b1b7f1;
}

.inputStyle {
    display: inline;
    padding: 0.5em 1em;
    margin-top: 35%;
    border: 0;
    border-radius: 49px;
    outline: none;
}
.inputStyle:focus {
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 10px #719ece;
}

.submitStyle {
    display: inline;
    background-color: #0b112c;
    padding: 1em 4em;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #d1dcfc;

    background: linear-gradient(to left, #161a2c 50%, #a3a3cf 50%) right;
    background-size: 200%;
    transition: 0.25s ease-out;

    border: none;
    border-radius: 50px;;
}

.submitStyle:hover {
    background-position: left;
    color: #161a2c;
}

.cardStyle {
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0b112c48;
    padding: 1em 2em;
    border: 2px solid #a3a3cf;
}

.listGroup {
    width: 80%;
    background-color: #413d6b4b;
    padding: 1em 2em;
    border: 2px solid #161a2c;
    border-radius: 15px;
}

.title {
    margin-bottom: 0;
    margin-top: 2em;
}

