body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #373944;
    color: #ffffff
}

.headerStyle {
    background-color: #0b112c;
    padding: 1em 2em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: envycoder nerd font;
    color: #b1b7f1;
}


.cardStyle {
    font-size: 25px;
    font-family: envycoder nerd font;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0b112c48;
    padding: 1em 2em;
    border: 2px solid #a3a3cf;
    
}

.formStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.5em;
    margin-left: 5em;
}

.listGroup {
    width: 80%;
    background-color: #413d6b4b;
    padding: 1em 2em;
    border: 2px solid #161a2c;
    border-radius: 15px;
}

.listGroupItem {
    display: block;
    padding: 0.5em 0;
    border-bottom: 1px solid #161a2c;

    overflow-wrap: break-word;
    word-break: break-word;
}

.title {
    margin-bottom: 0;
    margin-top: 2em;
}
.titleAdd {
    font-size: 50px;
}
.inputStyle {
    padding: 0.5em 1em;
    border: 0;
    border-radius: 49px;
    outline: none;
    transition: 0.5s ease-in-out;
}
.inputStyle:focus {
    box-shadow: 0 0 10px #719ece;
}

.submitStyle {
    background-color: #0b112c;
    padding: 1em 4em;
    margin-left: 1em;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #d1dcfc;

    background: linear-gradient(to left, #161a2c 50%, #a3a3cf 50%) right;
    background-size: 200%;
    transition: 0.25s ease-out;

    border: none;
    border-radius: 50px;;
}

.submitStyle:hover {
    background-position: left;
    color: #161a2c;
    box-shadow: #719ece 3px 0px 10px 0;
}

@media (max-width: 500px) {
    .formStyle {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .inputStyle {
        transform: translateX(0%);
        width: 100%;
    }
    .submitStyle {
        transform: translateX(0);
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .titleAdd {
        margin: 0;
        position: absolute;
    }
    .formStyle {
        margin-top: 5.6em;
    }
}